.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #222222;
    color: white;
}

.logo{
    color: white;
    margin: 0;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: 500;
}

nav a.active{
    border-bottom: 2px solid #ffcc00;
}